#contact-me {
    background-image: url("../images/home/angle-grinder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: absolute;
        left: 50%;
        top: 28%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: row;
        border: 2px solid #f4f8fc;


        img {
            width: 700px;
            z-index: 10;
        }

        .box {
            width: 500px;
            background: rgba(black, 0.6);
            height: 430px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            p {
                color: #f4f8fc;
                font-size: 24px;

                &.title {
                    font-size: 40px;
                    font-family: 'Bad Script', cursive;
                }
                .click{
                    text-decoration: underline;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}