#gallery {
    background-color: #f4f8fc;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .slider {
        .slick-slide {
            div {
                width: 50% !important;
                margin: auto;
            }
        }

        &.visible {
            visibility: visible;
        }

        &.invisible {
            visibility: hidden;
        }
    }


}