#header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 95%;

    ul {
        padding: 1rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        width: 450px;
        padding-top: 2.5rem;
        padding-left: 5rem;
        font-family: 'Times New Roman', Times, serif;
        font-size: 26px;

        li {
            z-index: 10;

            &:hover a{
                cursor: pointer;
                color: white !important;
            }

            a {
                color: #f4f8fc;
                text-decoration: none !important;
            }
        }

        a:after {
            content: '';
            display: block;
            width: 0%;
            border-bottom: 3px solid #fff;
            transition: 0.5s;
            margin-top: 0.25rem;
        }

        a:hover:after,
        a.selected:after {
            width: 100%;
        }

        &:nth-child(2) {
            width: 400px;

            button {
                margin-left: 1.5rem;
                min-width: 90px;
            }

            li span {
                color: #f4f8fc;
            }

            padding-left: 0;

            .toggle-mode {
                width: 50px;
                margin-top: -9px;
                margin-right: 15px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}