#home {
    background-image: url("../images/home/angle-grinder.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .welcome {
        z-index: 10;
        position: absolute;
        top: 40vh;
        left: 40vw;

        span {
            color: #f4f8fc;
            font-size: 74px;
            font-family: 'Times New Roman', Times, serif;
            text-shadow: 3px 3px black;
        }

        img {
            position: absolute;
            width: 82% !important;
            right: 35px;
            top: -45px;
        }
    }
}