@import "header.scss";
@import "home.scss";
@import "metal-gallery.scss";
@import "painting-gallery.scss";
@import "contact-me.scss";
@import "animations.scss";
@import "tablet-responsive.scss";
@import "mid-phone-responsive.scss";
@import "small-phone-responsive.scss";


body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;

    section {
        height: 100vh;

        .veil {
            position: absolute;
            width: 99vw;
            height: 100vh;
            background-color: black;
            opacity: 0.75;
        }
    }

    .gallery-title {
        font-size: 44px;
        font-family: auto;
        position: absolute;
        top: 50px;
        left: 100px;
        font-family: 'Bad Script', cursive;
    }

    .selector-options-lang {
        margin-top: - 2.5px;
    }

    .ph-flag {
        width: 20px;
        margin-bottom: -5px;
        margin-right: 10px;
    }
}