@import "header.scss";
@import "home.scss";
@import "gallery.scss";
@import "more-info.scss";
@import "contact-me.scss";
@import "animations.scss";

body {
    padding: 0;
    margin: 0;
    section {
        height: 100vh;

        .veil {
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: black;
            opacity: 0.75;
        }
    }

}