#metal-gallery,
#painting-gallery {
    background-color: #f4f8fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;


    .slider {
        .slick-slide {
            div {
                width: 80% !important;
                margin: auto;
                display: flex;
                flex-direction: row;

                .one {
                    &:hover {
                        cursor: pointer;
                        opacity: 0.3;
                    }
                }

                img {
                    max-width: 35%;
                    margin: auto;
                }
            }
        }

        &.visible {
            visibility: visible;
        }

        &.invisible {
            visibility: hidden;
        }

        .slick-next {
            right: 60px !important;
            width: 50px;
            height: 50px;
        }

        .slick-prev {
            left: 60px !important;
            z-index: 20;
            width: 50px;
            height: 50px;
        }

        .group {
            display: flex !important;
            flex-direction: row;
            justify-content: space-between;

            container {
                position: relative;
                z-index: 1000;

                img {
                    max-width: 54%;

                    z-index: 100;

                    &.light-veil {
                        cursor: pointer;
                        opacity: 0.3;
                    }

                }

                span {
                    position: absolute;
                    color: black;
                    left: 50%;
                    bottom: 50%;
                    transform: translate(-50%, 0);
                    font-size: 30px;

                    &:hover {
                        cursor: pointer;
                    }

                    z-index: 5;
                }
            }

            &.bird {
                margin-top: 10vh;
                margin-left: 12.65vw;
            }

            &.girl {
                margin-left: 13vw;
                margin-top: 10vh;
            }

            &.roses {
                margin-top: 10vh;
                margin-left: 13vw;

            }

            &.last {
                img {
                    max-width: 20%;
                }
            }

            &.oprah {
                margin-left: 11vw;

                img {
                    max-width: 40%;
                }

                container {

                    img {
                        max-width: 66%;
                    }
                }
            }

            &.thinking-girl {
                margin-top: 5vh;
                margin-left: 12vw;

                img {
                    &:first-of-type {
                        max-width: 35%;
                    }


                }

                container {
                    img {
                        max-width: 63% !important;
                    }
                }
            }

            &.glasses {
                margin-top: 5vh;

                img {
                    &:first-of-type {
                        max-width: 30%;
                    }

                    &:nth-child(2) {
                        max-width: 40%;
                    }
                }
            }

            &.glasses {
                margin-top: 5vh;
                margin-left: 13vw;

                img {
                    &:first-of-type {
                        max-width: 30%;
                    }

                }

                container {
                    img {
                        max-width: 56% !important;
                    }
                }
            }

            &.elchoMetal {
                margin-top: 5vh;
                margin-left: 13vw;


                img {
                    &:first-of-type {
                        max-width: 30%;
                    }

                }

                container {
                    img {
                        max-width: 55% !important;
                    }
                }
            }

            &.madara {
                margin-top: 5vh;
                margin-left: 13vw;

                img {
                    &:first-of-type {
                        max-width: 28%;
                    }

                }

                container {
                    img {
                        max-width: 57% !important;
                    }
                }
            }

            &.girl-apple {
                margin-bottom: 2.5vh;
                margin-left: 14vw;

                img {
                    &:first-of-type {
                        max-width: 20%;
                    }
                }

                container {
                    img {
                        max-width: 50% !important;
                    }
                }
            }

            &.old-woman {
                margin-top: 1vh;
                margin-left: 12vw;

                container img {
                    max-width: 60%
                }
            }

            &.old-hands {
                margin-top: 20vh;
                margin-left: 11.5vw;

                img {
                    max-width: 50%;

                    &:first-of-type {
                        max-width: 48%;
                        margin-left: -4vw;
                        margin-right: 7vw;
                    }


                }

                container img {
                    max-width: 110% !important;
                }
            }

            &.samba {
                margin-top: 15vh;
                margin-left: 9.5vw;

                img {
                    &:first-of-type {
                        margin-left: -4vw;
                        max-width: 50%;
                        margin-right: 7vw;
                    }
                }

                container img {
                    max-width: 120% !important;
                }
            }

            &.goblet {
                margin-top: 10vh;
                margin-left: 10vw;

                img {
                    max-width: 45%;
                }

                container {

                    img {
                        max-width: 80%
                    }
                }
            }

            &.autoportrait {
                margin-top: 3vh;
                margin-left: 12vw;

                img {
                    &:first-of-type {
                        max-width: 29%;
                    }
                }

                container {
                    img {
                        max-width: 55% !important;
                    }
                }
            }

            &.angel {
                margin-top: 5vh;

                img {
                    max-width: 40%;
                }
            }

            &.naked-girl {
                margin-top: 20vh;

                img {
                    max-width: 46%;

                    &:first-of-type {
                        margin-left: -1.5vw;
                        margin-right: 5vw;
                        max-width: 56%;
                    }
                }

                container {
                    img {
                        max-width: 110% !important;
                    }
                }
            }

            &.eye-with-hand {
                margin-top: 10vh;

                img {
                    max-width: 44%;
                }
            }

            &.stones {
                margin-top: 18vh;

                img {
                    &:first-of-type {
                        margin-left: -2vw;
                        margin-right: 5vw;
                    }

                    max-width: 55%;
                }

                container img {
                    max-width: 120% !important;
                }
            }

            &.violinMetal {
                margin-top: 15vh;

                img {
                    max-width: 60%;
                }
            }

            &.horse {
                margin-top: 20vh;

                img {
                    &:first-of-type {

                        max-width: 69%;
                    }
                }
            }

            &.perspective {
                margin-top: 5vh;
                margin-left: 8vw;

                img {
                    &:first-of-type {
                        margin-left: -1.5vw;
                        margin-right: 5vw;
                        max-width: 53%;
                    }
                }

                container {
                    img {
                        max-width: 105% !important;
                    }
                }
            }

            &.embrace {
                img {
                    max-width: 19%;
                }
            }

            &.two-faces {
                margin-top: 2vh;

                img {
                    max-width: 29%;
                }
            }

            &.split-face {
                margin-top: 9vh;
                margin-left: 10.5vw;

                img {
                    &:first-of-type {
                        max-width: 50%;
                    }
                }

                container img {
                    max-width: 70% !important;
                }
            }

            &.hope,
            &.hope-inverted {
                margin-top: 3vh;

                img {
                    &:first-of-type {

                        max-width: 45%;
                    }
                }
            }

            &.hope-inverted {
                margin-top: 10vh !important;
            }

            &.woman-and-man {
                margin-top: 5vh;
                margin-left: 10vw;

                img {
                    &:first-of-type {
                        max-width: 48%;
                    }
                }

                container {
                    img {
                        max-width: 75% !important;
                    }
                }
            }

            &.three-horses {
                margin-top: 10vh;

                img {
                    &:first-of-type {
                        margin-right: 9vw;
                        margin-left: -5vw;
                        max-width: 60%;
                    }
                }

                container img {
                    max-width: 140% !important;
                }
            }

            &.hope-inverted {
                margin-top: 5vh;
            }

            &.lady {
                margin-top: 10vh;

                img {
                    &:first-of-type {

                        max-width: 65%;
                    }
                }
            }

            &.little-angel {
                margin-top: 2vh;

                img {
                    &:first-of-type {

                        max-width: 43%;
                    }
                }
            }

            &.hug {
                margin-top: 7vh;
                margin-left: 12vw;

                container {
                    img {
                        max-width: 65% !important;
                    }
                }
            }

            &.sharp-teeth-fish,
            &.nikulden,
            &.horse-with-baby,
            &.in-love,
            &.eyes {
                margin-top: 15vh;

                img {
                    &:first-of-type {

                        max-width: 50%;
                    }
                }
            }

            &.sharp-teeth-fish img {
                max-width: 60% !important;
            }

            &.horse-with-baby img {
                max-width: 57% !important;
            }


            &.in-love img {
                max-width: 67% !important;
            }

            &.nikulden,
            &.in-love {
                img {
                    &:first-of-type {

                        max-width: 57.5%;
                    }
                }
            }

            &.eyes {

                padding-top: 3vh;

                img {
                    &:first-of-type {

                        max-width: 80% !important;
                    }
                }
            }
        }
    }
}