@media screen and (max-width: 800px) {

    body {
        .slick-next {
            margin-right: -55px !important;
            width: 30px !important;
            height: 30px !important;
        }

        .slick-prev {
            margin-left: -55px !important;
            width: 30px !important;
            height: 30px !important;
        }

        #header {
            flex-direction: column;
            align-items: center;

            ul {
                padding-left: 2rem;
            }

            .language-select {
                margin: 0;
                margin-left: 40%;
            }
        }

        #metal-gallery {
            .group {
                img {
                    margin-top: 35vh !important;
                    max-width: 80% !important;
                }

                &.goblet img {
                    margin-top: 45vh !important;
                    max-width: 100% !important;
                }

                &.oprah img {
                    margin-top: 50vh !important;
                }

                &.oprah img {
                    margin-top: 45vh !important;
                }
            }

            .madara container {
                margin-top: 5vh !important;

                margin: auto;
                width: 100%;
            }

            .girl-apple container {
                margin: auto;
                width: 80%;
                margin-top: 10vh !important;
            }

            .glasses container,
            .thinking-girl container,
            .elchoMetal container {
                margin: auto;
                width: 100%;
                margin-top: 10vh !important;

                img {
                    max-width: 80% !important;
                }
            }

            .old-hands container {
                margin: auto;
                width: 90%;
            }

            .old-woman container {
                margin-top: 10vh !important;

                margin: auto;
                width: 90%;
            }

            .autoportrait container {
                margin-top: 10vh !important;
                margin: auto;
                width: 100%;
            }

            .samba container {
                margin-bottom: 50vh !important;

                margin: auto;
                width: 80%;
            }

            .angel container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }

            .eye-with-hand container {
                margin-top: 4vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }

            .stones container {
                margin-top: 4vh !important;
                margin: auto;
                width: 80%;
            }

            .violinMetal container {
                margin-top: 4vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }

            .horse container {
                margin-top: 4vh !important;
                margin: auto;

                img {
                    max-width: 100% !important;
                }
            }

            .perspective container {
                margin-top: 12vh !important;
                margin: auto;
                width: 80%;
            }

            .embrace container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 38% !important;
                }
            }

            .two-faces container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 58% !important;
                }
            }

            .split-face container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 58% !important;
                }
            }

            .hope container,
            .hope-inverted container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 58% !important;
                }
            }

            .woman-and-man container {
                margin-top: 15vh !important;
                margin: auto;

                img {
                    max-width: 58% !important;
                }
            }

            .three-horses container {
                margin-top: 10vh !important;
                margin: auto;

                width: 60%;
            }

            .lady container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }

            .little-angel container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }


            .sharp-teeth-fish container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 150% !important;
                }
            }

            .hug container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }


            .nikulden container {
                margin-top: 5vh !important;
                margin: auto;

                img {
                    max-width: 90% !important;
                }
            }

            .horse-with-baby container {
                margin-top: 6vh !important;
                margin: auto;

            }

            .in-love container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 90% !important;
                }

            }

            .eyes container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 100% !important;
                }

            }

            .last container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 30% !important;
                }

            }
        }

        #contact-me {
            .container {
                top: 15%;
                flex-direction: column;

                .box {
                    margin: 0 auto;
                }
            }
        }
    }

}