#mobile-metal-gallery{
    background-color: #f4f8fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height:auto !important;

    .gallery-title{
        color: #f4f8fc;
    }

    .styles_wrapper__1kG3C{
        padding-top:150px;
    }

     figure > div > img {
         opacity: 1 !important;
     }
}