.eaten-apple {
    margin-bottom: 5vh !important;
    margin-left: 12vw !important;
}

div.colorful-apple {
    margin-bottom: -2.5vh !important;
    margin-left: 11vw !important;


    container img {
        max-width: 60% !important
    }
}

div.red-apple,
div.many-apples,
div.square-apple {
    margin-top: 2.5vh !important;

    img {
        &:first-of-type {
            max-width: 48% !important;
        }
    }
}

div.red-apples,
div.tomato-apple,
div.darkblue-apple,
div.chess-apples,
div.half-apples,
div.bitten-apple,
div.blue-and-green,
div.frozen-apple,
div.naked-girl-skirt,
div.naked-girl-blanket,
div.girl-horse,
div.piano,
div.dark-horse,
div.ship,
div.baby,
div.horo {
    margin-top: 7vh !important;

    img {
        &:first-of-type {
            max-width: 55% !important;
        }
    }
}

div.naked-girl-skirt {
    margin-top: 12vh !important;
}

div.naked-girl-blanket {
    margin-top: 0 !important;
}

div.dark-horse {
    margin-top: 10vh !important;
}


div.pear {
    margin-top: 2.5vh !important;

    img {
        max-width: 38% !important;
    }
}

div.lips {
    img {
        max-width: 35% !important;
    }
}

.black-girl-breast {
    img {
        max-width: 36%;
    }
}

.lips {
    margin-top: -1vh !important;
}

.violin {
    margin-top: -1vh !important;

    container {
        margin: auto;

        img {
            max-width: 33% !important;
        }
    }
}

.elcho {
    img {
        max-width: 33% !important;
    }
}

.naked-girl-painting {
    margin-top: -2vh;

    img {
        max-width: 33% !important;
    }
}

.underwear {
    img {
        max-width: 16% !important;
    }
}

.smoking-red {
    margin-top: -5vh;
}

.afro-girl {
    margin-top: 12vh;
}

.red-woman {
    margin-top: 3vh;

    img {
        max-width: 27% !important;
    }
}