.eaten-apple {
    margin-bottom: 5vh !important;
}

div.colorful-apple {
    margin-bottom: -2.5vh !important;

    img {
        &:first-of-type {
            margin-right: 6vw !important;
            max-width: 40% !important;
        }

        &:nth-child(2) {
            max-width: 40% !important;
        }
    }
}

div.red-apple,
div.many-apples,
div.square-apple {
    margin-top: 2.5vh !important;

    img {
        &:first-of-type {
            max-width: 48% !important;
        }
    }
}

div.red-apples,
div.tomato-apple,
div.darkblue-apple,
div.chess-apples,
div.half-apples,
div.bitten-apple,
div.blue-and-green,
div.frozen-apple,
div.naked-girl-skirt,
div.naked-girl-blanket,
div.girl-horse,
div.piano,
div.dark-horse {
    margin-top: 7vh !important;

    img {
        &:first-of-type {
            max-width: 55% !important;
        }
    }
}

div.naked-girl-skirt {
    margin-top: 12vh !important;
}

div.naked-girl-blanket {
    margin-top: 0 !important;
}

div.dark-horse {
    margin-top: 10vh !important;
}


.pear {
    margin-top: 2.5vh !important;
}

.black-girl-breast {
    img {
        max-width: 36%;
    }
}

.lips {
    margin-top: -1vh !important;
}

.violin {
    margin-top: -1vh !important;

    img {
        max-width: 10% !important;
    }
}

.elcho {
    img {
        max-width: 33% !important;
    }
}

.naked-girl-painting {
    margin-top: -2vh;

    img {
        max-width: 33% !important;
    }
}

.underwear {
    img {
        max-width: 16% !important;
    }
}