@media screen and (max-width: 500px) {

    body {


        .group span {
            top: 70% !important;
            left: 45% !important;
            font-size: 20px !important;
        }

        #metal-gallery .slider .group.glasses container {
            margin-top: -2vh !important;

            img {
                max-width: 100% !important;
            }
        }

        #metal-gallery .slider .group.thinking-girl container {
            margin-top: -2vh !important;

            img {
                max-width: 110% !important;
                margin-left: -25px !important;
            }
        }

        #metal-gallery .slider .group.hug container {
            margin-top: -2vh !important;

            img {
                max-width: 110% !important;
                margin-left: -25px !important;
            }
        }

        #metal-gallery .slider .group.horse-with-baby container {
            margin-top: -2vh !important;

            img {
                max-width: 115% !important;
            }
        }

        #metal-gallery .slider .group.in-love container {
            margin-top: -0vh !important;

            img {
                max-width: 115% !important;
            }
        }

        #metal-gallery .slider .group.eyes container{
            margin-top:1vh !important; 
        }

        #metal-gallery .slider .group.eyes img:first-of-type{
            max-width:115% !important;
        }

        #metal-gallery .slider .group.sharp-teeth-fish container {
            margin-top: -2vh !important;

            img {
                max-width: 115% !important;
            }
        }

        #metal-gallery .slider .group.last container {
            margin-top: -2vh !important;

            img {
                max-width: 70% !important;
                margin-left:10vw !important;
            }
        }

        #metal-gallery .slider .group.elchoMetal container {
            margin-top: -2vh !important;

            img {
                max-width: 110% !important;
                margin-left: -25px !important;
            }
        }

        #metal-gallery .slider .group.madara container {
            margin-top: -8vh !important;

            img {
                max-width: 110% !important;
                margin-left: -25px !important;
            }
        }

        #metal-gallery .slider .group.girl-apple container {
            margin-top: -0vh !important;

            img {
                max-width: 90% !important;
            }
        }

        #metal-gallery .slider .group.old-woman container {
            margin-top: 4vh !important;

            img {
                max-width: 120% !important;
                margin-left: -35px !important;

            }
        }

        #metal-gallery .slider .group.old-hands container {


            img {
                max-width: 130% !important;
                margin-left: -43px !important;

            }
        }

        #metal-gallery .slider .group.samba container {


            img {
                max-width: 150% !important;
                margin-left: -50px !important;
            }
        }

        #metal-gallery .slider .group.angel container {
            margin-top: 2vh !important;

            img {
                max-width: 110% !important;
                margin-left: -10px !important;
            }
        }

        #metal-gallery .slider .group.naked-girl container {

            img {
                max-width: 120% !important;
                margin-left: -25px !important;
            }
        }

        #metal-gallery .slider .group.eye-with-hand container {
            margin-top: -1vh !important;

            img {
                max-width: 120% !important;
                margin-left: -25px !important;
            }
        }

        #metal-gallery .slider .group.autoportrait container {
            margin-top: -1vh !important;

            img {
                max-width: 120% !important;
                margin-left: -40px !important;
            }
        }

        #metal-gallery .slider .group.stones container {
            margin-top: 0vh !important;

            img {
                max-width: 140% !important;
                margin-left: -35px !important;

            }
        }

        #metal-gallery .slider .group.violinMetal container {
            margin-top: 0vh !important;

            img {
                max-width: 120% !important;

            }
        }

        #metal-gallery .slider .group.horse container {
            margin-top: 0vh !important;

            img {
                max-width: 125% !important;
                margin-left: -30px !important;

            }
        }

        #metal-gallery .slider .group.perspective container {
            margin-top: 11vh !important;

            img {
                max-width: 140% !important;
                margin-left: -40px !important;

            }
        }

        #metal-gallery .slider .group.embrace container {
            margin-top: 1vh !important;

            img {
                max-width: 65% !important;
                margin-left: 12vw !important;

            }
        }


        #metal-gallery .slider .group.two-faces container {
            margin-top: 1vh !important;

            img {
                max-width: 95% !important;
                margin-left: 3vw !important;

            }
        }

        #metal-gallery .slider .group.split-face container {
            margin-top: 7vh !important;

            img {
                max-width: 110% !important;
                margin-left: -5vw !important;

            }
        }

        #metal-gallery .slider .group.hope container {
            margin-top: 7vh !important;

            img {
                max-width: 110% !important;
                margin-left: -2.5vw !important;

            }
        }

        #metal-gallery .slider .group.hope-inverted container {
            margin-top: 0vh !important;

            img {
                max-width: 110% !important;
                margin-left: -2.5vw !important;

            }
        }

        #metal-gallery .slider .group.woman-and-man container {
            margin-top: 10vh !important;

            img {
                max-width: 110% !important;
                margin-left: -2.5vw !important;

            }
        }

        #metal-gallery .slider .group.three-horses container {
            margin-top: 7vh !important;

            img {
                max-width: 200% !important;
                margin-left: -18vw !important;

            }
        }


        .slick-next {
            margin-right: -58px !important;
            width: 20px !important;
            height: 20px !important;
        }

        .slick-prev {
            margin-left: -58px !important;
            width: 20px !important;
            height: 20px !important;
        }


        #header {
            flex-direction: column;
            align-items: center;

            ul {
                font-size: 16px;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                min-height: 110px;
            }

            .language-select {
                margin: 0;
                margin-top: -35px;
                margin-left: 10px;
            }
        }

        #home {
            .welcome {
                span {
                    font-size: 44px;
                }

                img {
                    top: -20px;
                    right: 25px;
                }
            }

            .information {
                img {
                    margin-bottom: 50px;
                    margin-left: 20vw;
                }
            }
        }

        #metal-gallery {
            .group {
                img {
                    margin-top: 35vh !important;
                    max-width: 100% !important;
                    margin-left: -15px !important;
                }

                &.goblet img {
                    margin-top: 40vh !important;
                    max-width: 120% !important;
                    margin-left: -30px !important;
                }


                &.oprah img {
                    margin-top: 43vh !important;
                    max-width: 110% !important;
                    margin-left: -20px !important;
                }
            }

            .madara container {
                margin-top: 5vh !important;

                margin: auto;
                width: 100%;
            }

            .girl-apple container {
                margin: auto;
                width: 80%;
                margin-top: 10vh !important;
            }



            .glasses container,
            .thinking-girl container,
            .elchoMetal container {
                margin: auto;
                width: 100%;
                margin-top: 10vh !important;

                img {
                    max-width: 80% !important;
                }
            }



            .old-hands container {
                margin: auto;
                width: 90%;
            }

            .old-woman container {
                margin-top: 10vh !important;

                margin: auto;
                width: 90%;
            }

            .autoportrait container {
                margin-top: 10vh !important;
                margin: auto;
                width: 100%;
            }

            .samba container {
                margin-bottom: 50vh !important;

                margin: auto;
                width: 80%;
            }

            .angel container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }

            .eye-with-hand container {
                margin-top: 4vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }

            .stones container {
                margin-top: 4vh !important;
                margin: auto;
                width: 80%;
            }

            .violinMetal container {
                margin-top: 4vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }

            .horse container {
                margin-top: 4vh !important;
                margin: auto;

                img {
                    max-width: 100% !important;
                }
            }

            .perspective container {
                margin-top: 12vh !important;
                margin: auto;
                width: 80%;
            }

            .embrace container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 38% !important;
                }
            }

            .two-faces container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 58% !important;
                }
            }

            .split-face container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 58% !important;
                }
            }

            .hope container,
            .hope-inverted container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 58% !important;
                }
            }

            .woman-and-man container {
                margin-top: 15vh !important;
                margin: auto;

                img {
                    max-width: 58% !important;
                }
            }

            .three-horses container {
                margin-top: 10vh !important;
                margin: auto;

                width: 60%;
            }

            .lady container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 115% !important;
                }
            }

            .little-angel container {
                margin-top: 5vh !important;
                margin: auto;

                img {
                    max-width: 117% !important;
                }
            }


            .sharp-teeth-fish container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 150% !important;
                }
            }

            .hug container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 100% !important;
                }
            }


            .nikulden container {
                margin-top: -1vh !important;
                margin: auto;

                img {
                    max-width: 117% !important;
                }
            }

            .horse-with-baby container {
                margin-top: 6vh !important;
                margin: auto;

            }

            .in-love container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 90% !important;
                }

            }

            .eyes container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 100% !important;
                }

            }

            .last container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 30% !important;
                }

            }
        }

        #contact-me {
            .container {
                top: 10%;

                img {
                    width: 300px;
                }

                .box {
                    width: 300px;
                    height: 300px;

                    p {
                        margin: 10px auto;
                        color: #f4f8fc;
                        font-size: 16px;
                        font-family: 'Times New Roman', Times, serif;

                        &.title {
                            font-size: 30px;
                            font-family: 'Bad Script', cursive;
                        }

                        .click {
                            text-decoration: underline;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

}