@media screen and (max-width: 1120px) {
    body {
        .veil {
            width: 100vw !important;
        }

        .slick-dots {
            display: none !important;
        }

        #metal-gallery {
            .group {
                img {
                    margin-top: 45vh !important;
                }

                &.goblet img {
                    margin-top: 50vh !important;
                }

                &.oprah img {
                    margin-top: 55vh !important;
                }

                &.oprah img {
                    margin-top: 55vh !important;
                }
            }

            .madara container {
                margin-top: 2vh !important;

                margin: auto;
                width: 80%;
            }

            .girl-apple container {
                margin: auto;
                width: 60%;
                margin-top: 10vh !important;
            }

            .old-hands container {
                margin: auto;
                width: 90%;
            }

            .old-woman container {
                margin-top: 10vh !important;

                margin: auto;
                width: 90%;
            }

            .autoportrait container {
                margin-top: 10vh !important;
                margin: auto;
                width: 80%;
            }

            .samba container {
                margin-bottom: 50vh !important;

                margin: auto;
                width: 80%;
            }

            .angel container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 60% !important;
                }
            }

            .eye-with-hand container {
                margin-top: 4vh !important;
                margin: auto;

                img {
                    max-width: 60% !important;
                }
            }

            .stones container {
                margin-top: 4vh !important;
                margin: auto;
                width: 80%;
            }

            .violinMetal container {
                margin-top: 4vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }

            .horse container {
                margin-top: 4vh !important;
                margin: auto;

                img {
                    max-width: 100% !important;
                }
            }

            .perspective container {
                margin-top: 12vh !important;
                margin: auto;
                width: 80%;
            }

            .embrace container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 28% !important;
                }
            }

            .two-faces container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 38% !important;
                }
            }

            .split-face container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 38% !important;
                }
            }

            .hope container,
            .hope-inverted container {
                margin-top: 10vh !important;
                margin: auto;

                img {
                    max-width: 58% !important;
                }
            }

            .woman-and-man container {
                margin-top: 15vh !important;
                margin: auto;

                img {
                    max-width: 58% !important;
                }
            }

            .three-horses container {
                margin-top: 10vh !important;
                margin: auto;

                width: 60%;
            }

            .lady container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }
            }

            .little-angel container {
                margin-top: 15vh !important;
                margin: auto;

                img {
                    max-width: 50% !important;
                }
            }


            .sharp-teeth-fish container {
                margin-top: 10vh !important;
                margin: auto;
            }


            .nikulden container {
                margin-top: 5vh !important;
                margin: auto;

                img {
                    max-width: 70% !important;
                }
            }

            .horse-with-baby container {
                margin-top: 6vh !important;
                margin: auto;

            }

            .in-love container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 80% !important;
                }

            }

            .eyes container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 90% !important;
                }

            }

            .last container {
                margin-top: 8vh !important;
                margin: auto;

                img {
                    max-width: 30% !important;
                }

            }
        }
    }
}